<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/error.css" />
</head>

<body>
    
    <div class="errorwrapper">

    <form class="form2" action="/" method="POST">

        <table class="tableform">
            <tr>
                <td><label>Error!</label></td>
              
            </tr>

        </table>

        <input class="formsubmit" type="submit" value="go back to homepage"></input>


    </form>



</div>

</body>
